body{
    background: #F0F7F6;
    height: 2000px;
}
nav{
    background-color: #1F3642;
    font-family: 'Amatic SC', cursive;
    font-size: 18pt;
}
.modal-backdrop{
    background-color: transparent;
}
