
body{
    background: #F3F3F3 ;
    height: 2000px;
}
nav{
    background: #FFF7E3 ;
}
nav #navbarSupportedContent a{
     font-family: 'Comfortaa', cursive;
    font-size: 18pt;
     color: #252525;
     padding:10px;
}
.modal-backdrop{

}
#headerrr{
    font-family: "Montserrat Black", sans-serif;
    height: 400px;
    color: #252525;
}
.fraza{
    letter-spacing: 5px;
    font-size: 70px;
}
.vneplan{
    letter-spacing: 8px;
    font-size: 13pt;
}